* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    min-height: 100%;
}
header > h2 {
    text-align: center;
}
div#content {
    min-height: 100%;
}
div#coding {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#coding > textarea {
    height: 200px;
    margin: 20px;
    width: 30%;
}
div#coding > .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer > p {
    font-size: 10px;
    text-align: center;
    bottom: 0;
    left: 50%;
}
.vertical-arrow {
    display: none;
}
@media (prefers-color-scheme: dark) {
    * {
        background: #1e1f23;
        color: #c4c5c9;
    }
}
@media (max-width: 599px) {
    div#coding {
        flex-direction: column;
    }
    div#coding > textarea {
        width: auto;
    }
    div#coding > .buttons {
        flex-direction: row;
    }
    .horizontal-arrow {
        display: none;
    }
    .vertical-arrow {
        display: block;
    }
}
